$dark-color: #4b6584;
$dark-highlight-color: #778ca3;
$light-background-color: #f2f4f6;
$light-color: #d1d8e0;

$highlight-1-color: #3867d6;
$highlight-11-color: #4b7bec;

$highlight-2-color: #8854d0;
$highlight-22-color: #a55eea;

$highlight-3-color: #eb3b5a;
$highlight-33-color: #fc5c65;

$highlight-4-color: #fa8231;
$highlight-44-color: #fd9644;

$highlight-5-color: #f7b731;
$highlight-55-color: #fed330;

$highlight-6-color: #20bf6b;
$highlight-66-color: #26de81;


$highlight-7-color: #0fb9b1;
$highlight-77-color: #2bcbba;

$highlight-8-color: #2d98da;
$highlight-88-color: #45aaf2;

