@import "~src/styles/variables";

.header {
  display: flex;
  flex-direction: row;
}

.exit {
  margin-left: auto;
  border-radius: 50%;
  cursor: pointer;
}

.exit:hover {
  background-color: $light-background-color;
}
